# **1. Pengaruh Nilai Ekstrim**

Pada bagian ini kalian akan mengamati pengaruh nilai ekstrim terhadap 2 ukuran pemusatan data (mean dan median).

## üìñ **Soal**

7 Karyawan DQTech, diketahui mempunyai data gaji sebagai berikut

<br>

<table>
        <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Gaji (Rp)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Andi Pratama</td>
                <td>5.800.000</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Budi Santoso</td>
                <td>5.500.000</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Citra Dewi</td>
                <td>4.700.000</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Dani Fadilah</td>
                <td>6.500.000</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Eka Putra</td>
                <td>6.000.000</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Fajar Hidayat</td>
                <td>4.900.000</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Gita Saraswati</td>
                <td>5.200.000</td>
            </tr>
        </tbody>
  </table>

dengan menggunakan list pada Python hitunglah rata-rata gaji karyawan di DQTech!

In [ ]:
data_1 = ...

mean_1 = ...

Kemudian hitung median datanya juga ya!

In [ ]:
data_1 = ...

median_1 = ...

Wah, saat ini terdapat karyawan baru bernama Cakra Negara yang memiliki gaji fantastis yakni Rp. 17.000.000, sehingga data gaji karyawan DQTech saat ini menjadi

<br>

<table>
        <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Gaji (Rp)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Andi Pratama</td>
                <td>5.800.000</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Budi Santoso</td>
                <td>5.500.000</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Citra Dewi</td>
                <td>4.700.000</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Dani Fadilah</td>
                <td>6.500.000</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Eka Putra</td>
                <td>6.000.000</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Fajar Hidayat</td>
                <td>4.900.000</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Gita Saraswati</td>
                <td>5.200.000</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Cakra Negara</td>
                <td>17.000.000</td>
            </tr>
        </tbody>
  </table>

Hitung kembali rata-rata gaji karyawan di DQTech saat ini!

In [ ]:
data_2 = ...

mean_2 = ...

Kemudian hitung median data barunya juga ya!

In [ ]:
data_2 = ...

median_2 = ...

Sekarang tampilkan hasil perhitunganmu!

In [ ]:
print('Data 1\t\tData2')
print(f'{mean_1:.2f}\t\t{mean_2:.2f}')
print(f'{median_1:.2f}\t\t{median_2:.2f}')

Apa yang terjadi dengan nilai rataan dan median data karyawan gaji sekarang? Menurutmu mengapa hal tersebut terjadi? Coba Interpretasikan hasil pengamatanmu!

---

# **2. Komparasi Simpangan Baku**

Pada bagian ini kalian akan mengamati nilai penyebaran data.

Simpangan baku (standard deviation) adalah ukuran statistik yang digunakan untuk mengukur sebaran atau dispersi data dalam sebuah sampel atau populasi. Simpangan baku menggambarkan sejauh mana nilai-nilai data tersebar di sekitar rata-rata (mean) dalam suatu distribusi.

\begin{equation}
\sigma = \sqrt{\frac{\sum{(x - \mu)^2}}{N}}
\end{equation}

* œÉ adalah simpangan baku.
* ùíô adalah nilai data dalam sampel atau populasi.
* Œº adalah rata-rata (mean) dari data.
* ‚àë adalah simbol sigma yang menunjukkan penjumlahan.
* ùëµ adalah jumlah total nilai dalam sampel atau populasi.
<br><br>

## üìñ **Soal**

Karena ketidakpastian situasi global, memaksa DQTech untuk melakukan efisiensi. Dari beberapa produk yang DQTech jual, DQTech harus mengeliminasi 1 produk. Data penjualan pada periode waktu tertentu disajikan pada list berikut :

Penjualan produk A (secara kuantitas tiap bulannya)
```
penjualan_produk_A = [55, 49, 48, 50, 52, 47, 51, 50, 53, 48, 50, 49, 51, 46, 50]
```

Penjualan produk B (secara kuantitas tiap bulannya)
```
penjualan_produk_B = [80, 20, 45, 65, 30, 90, 10, 110, 60, 55, 75, 35, 48, 50, 25]
```

Coba hitung simpangan baku dari `penjualan_produk_A` dan `penjualan_produk_B` dan bantu DQTech menentukan mana produk yang sebaiknya dipertahankan? Mengapa?